/* COLORS */
$color-background: #292929;
$color-background-light: #292929;
$color-primary: #0E5AA7;
$color-primary-hover: blue;
$color-danger: #EE2527;
$color-base: #4A4A4A;
$color-border: #CFCFCF;
$color-disabled: #e2e2e2;
/* FONT */
$white: #e0e0e0;

/*  */

/*z-indexes*/
$header-z-index: 1000;